@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 3
   
   Layout Style Sheet for A Soldier's Scrapbook
   Author: 
   Date:   
   
   Filename: ss_layout.css

*/


/* Article Styles */

article {
   float: left;
   width: 384px;
}

article::after {
   clear: both;
   /* content: "";
   display: table; */
}





/* First Line and Drop Cap Styles */

article p:first-of-type::first-line {
   font-variant:small-caps ;
   font-size: 1.25em;
}

article p:first-of-type::first-letter {
   font-size: 4em;
   float: left;
   line-height: .8em;
   margin-right: 5px;
   margin-bottom: 5px;
   font-family: serif;
}

/* Aside Styles */

aside{
   width: 768px;
   float: left;
}

aside::after {
   clear: both;
}


/* Map Styles */

#battleMap {
   width: 688px;
   margin: 20px auto;
   position: relative;
}

#battleMap img {
   display: block;
   width: 100%;
}



/* Interactive Map Styles */
.battleMarkers{
   position: absolute;
}

#marker1 {
   top: 200px;
   left: 340px;
}
#marker2 {
   top: 194px;
   left: 358px;
}
#marker3 {
   top: 202px;
   left: 400px;
}
#marker4 {
   top: 217px;
   left: 452px;
}
#marker5 {
   top: 229px;
   left: 498px;
}
#marker6 {
   top: 246px;
   left: 544px;
}



/* Map Information Styles */

div.mapInfo {
   display: none;
}

a.battleMarkers:hover + div.mapInfo {
   display: block;
}

