@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 2
   
   Style Sheet for Grids used in the Costume Expressions Front Page
   Author: 
   Date:   
   
   Filename: ce_grids.css

*/


/* Grid Rows Styles */

.row {
   width: 100%;
   clear: both;
}

.row::after {
   display: table;
	content: "";
	clear: both;
}


/* Grid Columns Styles */

div[class^="column"] {
   float: left;
}

.column100 {
   width: 100%;
}

.column50 {
   width: 50%;
}

.column33 {
   width: 33%;
}

.column67 {
   width: 67%;
}

.column25 {
   width: 25%;
}

.column75 {
   width: 75%;
}

.column20 {
   width: 20%;
}

.column40 {
   width: 40%;
}

.column60 {
   width: 60%;
}

.column80 {
   width: 80%;
}

/* Grid Spacing Styles */
div.container , div.row, div[class^="column"], div[class$="cell"], div[class$="cell"] a {
   box-sizing: border-box;
}

