/*
   New Perspectives on HTML and CSS
   Tutorial 4
   Case Problem 2

   Pizza Style Sheet
   Author: 
   Date:   

   Filename:         pizza.css
   Supporting Files: 

*/
@charset"utf-8";


html{
   padding: 0px;
   margin: 0px;
}


header, section, aside, footer, nav {
   display: block;
}

body{
   background-color: red;
   font-family: Verdana, Geneva, sans-serif;
}

#container {
   width: 1000px;
   margin: 0px auto;
   border-left: 1px solid black;
   border-right: 1px solid black;
   background: white url(redbar.png) repeat-y left top;
}

header {
   background-color: white;
   height: 100px;
}
.horizontal{
   width: 100%;
   height: 70px;
   background-color: white;
}

.horizontal li{
   background-color: white;
   font-size: 16px;
   height: 50px;
   line-height: 50px;
   width: 180px;
   display: block;
   float: left;
   margin: 0px 5px;
   text-align: center;
}
 .horizontal li::after{
   clear: both;
   content: "";
   display: table; 
 }

.horizontal li a {
   display: block;
   background-color: red;
   color: white;
   border-radius: 30px/25px;
   text-decoration: none;
}

.horizontal li a:hover {
   background-color: rgb(255, 101, 101) ;
   color: black;
} 


 .vertical{
   float: left;
   width: 200px;
}
.vertical::after{
   clear: both;
   content: "";
   display: table;
}

.vertical li{
   list-style-type: none;
   text-indent: 20px;
   margin: 20px 0px;
}

#main {
   background-color: rgb(255, 211, 211);
   float: left;
   width: 600px;
}

#main::after{
   clear: both;
   content: "";
   display: table;
}

#main> p {
   font-size: 20px;
   margin: 15px;
}

#main img{
   float: right;
   margin: 15px;
   width: 350px;
   border-bottom-left-radius: 350px;
}

 #main img::after{
   clear: both;
   content: "";
   display: table;
} 


div.coupon {
   border: 5px dashed black;
   float: left;
   width: 170px;
   height: 150px;
   margin: 20px 10px;
   background: url(slice.png) no-repeat center, url(notice.png) no-repeat bottom right;
   background-color: white;
   
}

.coupon::after {
   clear: both;
   content: "";
   display: table;
}

.coupon h1 {
   color: white;
   background-color: rgb(192, 0, 0);
   font-size: 16px;
   font-kerning: 2px;
   text-align: center;
   height: 25px;
   font-variant: small-caps;
}

.coupon p {
   font-size: 14px;
   text-align: center;
   margin: 5px;
}

aside{
   float: left;
   width: 200px;
}
aside::after{
   clear: both;
   content: "";
   display: table;
}


aside h1 {
   color: rgb(192, 0, 0);
   font-size: 20px;
   font-kerning: 2px;
   font-weight: normal;
   text-align: center;
}


aside li {
   background-color: rgb(255, 135, 135);
   border-radius: 5px;
   color: black;
   list-style-type: none;
   margin: 10px;
   padding: 5px;
}

footer{
   margin-left: 200px;
}

footer address{
  border-top: 1px solid red ;
  color: red;
  font-size: 10px;
  font-style: normal;
  text-align: center;
  margin-top: 25px;
  padding-bottom: 20px; 
} 

